<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="styles(fontawesome)">
    <link rel="stylesheet" th:if="${fontawesome}"
          th:href="@{/webjars/fortawesome__fontawesome-free/6.7.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</th:block>

<th:block th:fragment="jsOnlyNoscript">
    <noscript>
        <style>.js-only { display: none !important; }</style>
    </noscript>
</th:block>

<th:block th:fragment="coreScripts">
    <script defer th:src="@{/js/endervault-core.js}"></script>
    <script defer th:src="@{/js/notifications.js}"></script>
</th:block>

<th:block th:fragment="adminActionsScript">
    <script defer th:src="@{/js/admin-actions.js}"></script>
</th:block>

<th:block th:fragment="fileToolbarScript">
    <script defer th:src="@{/js/file-browser-refresh.js}"></script>
    <script defer th:src="@{/js/file-uploads.js}"></script>
    <script defer th:src="@{/js/file-selection.js}"></script>
    <script defer th:src="@{/js/file-actions.js}"></script>
    <script defer th:src="@{/js/favorites.js}"></script>
</th:block>

<th:block th:fragment="selectionScript">
    <script defer th:src="@{/js/file-selection.js}"></script>
</th:block>

<th:block th:fragment="favoritesScript">
    <script defer th:src="@{/js/favorites.js}"></script>
</th:block>

<th:block th:fragment="fileToolsScript">
    <link rel="stylesheet" th:href="@{/webjars/codemirror/5.65.19/lib/codemirror.css}">
    <link rel="stylesheet" th:href="@{/webjars/codemirror/5.65.19/theme/material-darker.css}">
    <link rel="stylesheet" th:href="@{/webjars/codemirror/5.65.19/addon/dialog/dialog.css}">
    <script defer th:src="@{/webjars/codemirror/5.65.19/lib/codemirror.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/xml/xml.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/javascript/javascript.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/css/css.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/htmlmixed/htmlmixed.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/markdown/markdown.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/clike/clike.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/python/python.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/shell/shell.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/properties/properties.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/yaml/yaml.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/sql/sql.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/powershell/powershell.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/ruby/ruby.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/go/go.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/rust/rust.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/php/php.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/dockerfile/dockerfile.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/mode/toml/toml.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/selection/active-line.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/edit/matchbrackets.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/edit/closebrackets.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/search/searchcursor.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/dialog/dialog.js}"></script>
    <script defer th:src="@{/webjars/codemirror/5.65.19/addon/search/search.js}"></script>
    <script defer th:src="@{/js/file-tools.js}"></script>
</th:block>

<th:block th:fragment="remoteDownloadScript">
    <script defer th:src="@{/js/remote-download.js}"></script>
</th:block>

<th:block th:fragment="logsScript">
    <script defer th:src="@{/js/logs.js}"></script>
</th:block>

<th:block th:fragment="passkeyScript">
    <script defer th:src="@{/js/passkeys.js}"></script>
</th:block>
</body>
</html>
